.container-fluid{
  height: 100% !important;
  width:100% !important;
  padding: 0;
  margin:0;
}
.container-fluid{
  padding:3%;
  border-radius: 3rem;
}
.image{
  background-size: cover !important;
  margin-right:1.5rem !important;
}
@media(max-width:1050px){
  .image{
    height: 100% !important;
    width:100% !important;
  }
}
.a-tag{
  text-decoration: none;
}

.flex-class{
  display: flex;
  flex-wrap: wrap;
}
.card-title{
  color:rgb(223, 36, 36) !important;
  font-weight: bold !important;
  font-size: 2rem !important;
}
.btn{
  padding-left:1rem;
  padding-right:1rem;
  font-size:1rem;
}